/*tabela*/
td {
  color:#ffffff;
  text-align: center;
}
tr:nth-child(even){
  background-color: rgb(100, 146, 146);
}
tr{
  background-color: rgb(151, 163, 163);
}
th{
  color:#ffffff;
  text-align: center;
}



.header{
  font-style: italic;
  padding-top: 150px;
  padding-bottom: 50px;
  color:  rgb(255, 255, 255);
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
}
.naziv{
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
  padding-top: 10px;
  border-color:  #af9fe3;

}

.inputGroup{
  padding: 10px;
  margin: auto;
  max-width: 30%;
  text-align: center;

}
#parent {
  display: table;
  width: 100%;
  margin: auto;
}
#form_login {
  margin: auto;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.buttonSupervizor{
  background-color: #923cb5;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
  position: absolute;
  left: 50px;
  width: 250px;
 }
/*
.label{
  color: rgb(255, 255, 255);
  font-size:20px;
  padding-top: 15px;
  
}*/
.form-group{
  width: 40%;
  text-align: left;

}
.button {
  background-color: rgb(161, 138, 226); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
}
.polje{
  color:white;
  max-width: 40%;
  text-align: left;
  padding-left: 5px;
}
.slika{
 
    min-height: 120px;
    max-height: auto;
    height: 100px;
    width: 500px;
 
  position: absolute;
  left: 200px;
  top: 400px;
}

.lijevo{
  float: left;
  width: calc( 20% - 30px);
  padding: 10px;
  padding-left: 20px;
  margin: 5px;
  background-color: teal;
}

.desno{
  float: left;
  width: calc(80% - 20px);
  padding: 5px;
  margin: 5px;
  background-color: teal;
}
.sve{
  background-color: teal;
  height: 100%;
}
.combo, .date{
  height: 40px;
  width: 220px;
  margin: 10px;
  background-color: honeydew;
  font-size: 18px;

}

.label{
  color: white;
  font-size: 18px;
  padding-left: 10px;
}


.stranica{
  background-color: hotpink;
}
