body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

td {
  color:#ffffff
}
th {
  color:#ffffff
}
.header{
  font-style: italic;
  padding-top: 150px;
  padding-bottom: 50px;
  color:  rgb(255, 255, 255);
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.label{
  color: rgb(255, 255, 255);
  font-size:20px;
  padding-top: 15px;
  
}
.form-group{
  width: 40%;
  text-align: left;

}
.button {
  background-color: rgb(161, 138, 226); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
}
<<<<<<< HEAD
.polje{
  color:white;
  max-width: 40%;
  text-align: left;
  padding-left: 5px;
=======

#modal

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
>>>>>>> cisto valjda moram komitovati prije nego sto pull uradim
}